.hero {
  position: relative;
  color: white;
  width: 100%;
  height: 70%;
  padding: 20px;
  background-image: url('https://assets.epicurious.com/photos/57b208990e4be0011c1bf088/master/pass/mango-cheesecake.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Optional: soft dark overlay to improve text readability */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adjust opacity here */
  z-index: 0;
}

/* Style your hero text */
.hero h1,
.hero p {
  position: relative;
  z-index: 1;
   animation: slideUp 1.2s ease forwards;
  opacity: 0;
}




.hero p:nth-of-type(2) {
  animation-delay: 0.3s;
}
.hero p:nth-of-type(3) {
  animation-delay: 0.6s;
}
.hero p:nth-of-type(4) {
  animation-delay: 0.9s;
}
.hero p:nth-of-type(5) {
  animation-delay: 1.2s;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 400;
}
